:root{
    --main: #dfe3e8;
    --sec: #f4f6f8;
    --tre: #1e1e1a;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--sec);
    color: var(--tre);
    
}

a{
  color: var(--tre);
  text-decoration: none;
}

h1{
    font-size: 100px!important;
    font-weight: 900;
}

.nome{
  font-weight: 800;
}

p{
  font-weight: 500;
  font-size: 25px;
}



.navFont{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800px;
    color: white!important;
}



.navBack {
    background-color: transparent;
}

.navfreccia{
  color: transparent !important;
}

/* HEADER  */
header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url(https://www.pexels.com/video/blurry-screen-853919/) black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }

  /* testo dell header, modifiche */

  .textMod{
    position: absolute;
    bottom: 300px !important;
    right: 1% !important;
    
  }

  .nomeMod{
    position: absolute;
    right: 1% !important;
    top: 250px !important;
  }
  
  .paddTop{
      padding-top: 100px;
  }

/* distanza fra sezioni */

  .paddBottom{
      padding-bottom: 100px;
  }


  /* padding all interno delle sezioni */
  
  .padY{
    padding-bottom: 30px;
  }

  .padYY{
    padding-top: 30px;
  }

  .backContainer{
      background-color: var(--main);
  }

 

  .profilo:hover{
    transform: scale(1.1);
  }

  .noMargin{
      margin: 0px!important;
  }

  /* icon settings */
.icon{
  font-size: 60px;
  color: var(--tre);
}

/* presentazione  */
  .foto{
  position: absolute;
  right: 140px;
  top: 780px;
  z-index: -100;
  opacity: 0.5;
  border-radius: 15px;
  }


/* testo word  */
.work{
  position: absolute;
  font-size: 55vh!important;
  width: 500px!important;
  height: 500px!important;
  z-index: -100; 
  opacity: 0.2; 
  color: darkgray;
  left: 90px;
  top: 1800px;
  
}

/* border radius  */
.cardRound {
  border-radius: 15px;
}

/* progetti */

.zoom{
  transition: transform .2s;
}

.zoom:hover{
  transform: scale(1.2);
  z-index: 100;
}

.contatti {
  position: absolute;
  left: 1180px;
  top: 1250px;
}

.overflow{
  overflow-y: hidden;
}

@media screen and (max-width: 1400px ) {

.nomeMod{
  position: absolute;
  top: 180px!important;
}

.textMod{
  position: absolute;
  top: 320px;
  right: 1%;
}

.foto {
  position: absolute;
  top: 650px;
}

  .contatti{
    position: absolute;
    left: 72%;
    top: 1000px;
  }

  .work{
    width: auto;
    position: absolute;
    top: 1580px;
    left: 5px;
  }
}
@media screen and (width: 1350px){
  .work{
    position: absolute;
    top: 1560px;
    left: 5%;
    font-size: 60vh!important;
  }
}

@media screen and (width: 1300px){
  .foto{
    position: absolute;
    top: 670px;
    left: 60%;
  }
  .work{
    position: absolute;
    left: 5%;
    top: 1600px;
  }
}

@media screen and (width: 1250px){
  .foto{
    position: absolute;
    top: 650px;
    left: 67%;
  }

  .work{
    position: absolute;
    top: 1600px;
    left: 6%;
  }
}

@media only screen and (max-width: 768px){
  .logo{
    display: none;
  }

  .foto{
    display: none;
  }

  .contatti{
    position: absolute;
    top: 1250px;
  }

  .work{
    position: absolute;
    font-size: 35vh!important;
    top: 1750px;
  }

.js{
  padding-right: 30px;
}

  .jsI{
    padding-right: 10px!important;
  }
  .zoom:hover{
    transform: scale(1.0);
    z-index: 100;
  }
}

@media only screen and (max-width: 767px){
  .work{
    display: none;
  }

  .contatti{
    position: absolute;
    left: 0%;
    top: 1280px;
  }
}

@media only screen and (max-width: 640px){
  .nomeMod{
    font-size: 70px!important;
  }
}

@media only screen and (max-width: 532px){
  .contatti{
    position: absolute;
    top: 1340px;
  }
}

@media only screen and (max-width: 488px){
  .contatti{
    position: absolute;
    top: 1470px;
  }
}

@media only screen and (max-width: 452px){
  .nomeMod{
    font-size: 50px!important;
  }

  .textMod{
    position: absolute;
    top: 250px;
  }
}

@media only screen and (max-width: 384px) {
  .presentazione{
    font-size: 70px!important;
  }

  .contatti{
    position: absolute;
    top: 1270px;
  }
}

@media only screen and (max-width: 342px){
  .contatti{
    position: absolute;
    top: 1340px;
  }
}